{% extends 'base.html' %}

{% load static %}

{% block title %}
confirm deletion
{% endblock title %}

{% block body %}
<div class="container p-3 mt-3 bg-light border rounded">
    <a href="{% url 'articles:detail' object.id %}" class="btn btn-outline-dark">
        <img width="20px" height="20px" src="{% static 'img/prev.png' %}" alt="이전 페이지" />
    </a>
    <a href="#" class="page-link"></a>
    <div class="row">
        <div class="mx-md-auto mx-3 col-11 mt-3">
            <h1>게시글 삭제</h1>
            <h3><strong class="text-muted font-weight-bold">{{ object.title|truncatechars:15 }}</strong> 을 정말로 삭제하시겠습니까?</h3>
        </div>
        <form method="post">
            {% csrf_token %}
            <button class="btn btn-danger mt-3" type="submit">확인</button>
        </form>
    </div>
</div>

{% endblock body %}