{% extends 'base.html' %}
{% load static %}

{% block title %}
전체 글 목록
{% endblock title %}

{% block body %}
<div class="container">
    <h2 class="fw-bolder">게시판</h2>

    <div class="text-muted">
        <p><strong>{{ object_list|length }}개</strong>의 게시글이 있습니다.</p>

        <form>
            <div class="mx-md-auto p-2 mt-5 mb-5 bg-light form-group">
                <label for="category" class="text-muted">카테고리</label>
                <select class="form-select" id="category">
                    <option>전체</option>
                    <option>공지사항</option>
                    <option>일반</option>
                </select>

                <label for="sort" class="text-muted">정렬</label>
                <select class="form-select" id="sort">
                    <option>조회순</option>
                    <option>최신순</option>
                </select>

                <label for="search" class="text-muted">검색</label>
                <input id="search" type="search" class="form-control" placeholder="검색어를 입력해주세요" />
                <button class="d-inline-block float-end btn btn-light" type="submit">
                    <img class="rounded-circle" src="{% static 'img/icon-search.png' %}" alt="검색" />
                </button>
            </div>
        </form>
    </div>

    <!-- 게시판 리스트 -->
    <table class="table">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" id="all-article" />
                    <!-- <label for="all-article">페이지 전체 게시글 선택</label> -->
                </th>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>조회수</th>
            </tr>
        </thead>
        <tbody>

            {% if object_list|length == 0 %}

            <td class="nodata" colspan="5">등록된 게시물이 없습니다.</td>

            {% else %}


            {% for object in object_list %}
            <tr>
                <td><input type="checkbox" id="check{{object.id}}" /></td>
                <td>{{object.id}}</td>
                <td>
                    <a href="{% url 'articles:detail' object.id %}">
                        {{object.title|truncatewords:15|safe}}
                    </a>
                </td>
                <td> {{ object.author.nickname }} </td>
                <td> {{ object.created_at|date:"Y.m.d" }} </td>
                <td> {{ object.view_count }} </td>
            </tr>
            {% endfor %}


            {% endif %}

        </tbody>
    </table>

    <div class="board-bottom">
        <!-- 페이지 -->
        <ul class="pagination">
            <li class="page-item">
                <a href="#" class="page-link"><img width="20px" height="20px" src="{% static 'img/first.png' %}"
                        alt="처음 페이지" /></a>
            </li>
            <li class="page-item">
                <a href="#" class="page-link"><img width="20px" height="20px" src="{% static 'img/prev.png' %}"
                        alt="이전 페이지" /></a>
            </li>
            <li class="page-item">
                <a href="#" class="page-link">1</a>
            </li>
            <li class="page-item">
                <a href="#" class="page-link">1</a>
            </li>
            <li class="page-item">
                <a href="#" class="page-link">1</a>
            </li>
            <li class="page-item">
                <a href="#" class="page-link">1</a>
            </li>
            <li class="page-item">
                <a href="#" class="page-link">1</a>
            </li>
            <li class="page-item">
                <a href="#" class="page-link">1</a>
            </li>
            <li class="page-item">
                <a href="#" class="page-link">1</a>
            </li>
            <li class="page-item">
                <a href="#" class="page-link">
                    <img width="20px" height="20px" src="{% static 'img/next.png' %}" alt="첫번째 페이지" />
                </a>
            </li>
            <li class="page-item">
                <a href="#" class="page-link">
                    <img width="20px" height="20px" src="{% static 'img/last.png' %}" alt="이전 페이지" />
                </a>
            </li>
        </ul>
        <!-- //페이지 -->
        <div class="btn-group">
            <button class="btn btn-outline-primary">선택삭제</button>
            <a href="{% url 'articles:new' %}" class="btn btn-outline-primary">작성</a>
        </div>
    </div>
</div>
{% endblock body %}