{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block body %}
<div class="main">
  <div class="container">
    <h2 class="title">로그인</h2>
    <p class="description">아이디와 비밀번호를 입력하고 로그인하세요</p>

    <div class="col-11 col-md-5 mx-auto mt-5">
      <form action="{% url 'users:signin' %}" method="post">

        {% csrf_token %}

        {{ form|crispy }}

        <button class="btn btn-primary" type="submit">로그인</button>
      </form>

      <div class="pt-3">
        <small class="text-muted">
          아이디가 없나요?
          <a href="{% url 'users:signup' %}" class="ml-2">회원가입</a>
        </small>
      </div>
    </div>
  </div>
</div>
{% endblock body %}