{% extends 'base.html' %}


{% block body %}
<div class="main">
    <div class="container bg-light border rounded">
        <div class="mx-md-auto col-11 m-3">
            <h2>로그아웃 되었습니다.</h2>
        </div>
        <div class="btn-group col-11 m-3">
            <a class="btn btn-primary m-1" href="{% url 'index' %}">main</a>
            <a class="btn btn-primary m-1" href="{% url 'users:signin' %}">로그인</a>
            <a class="btn btn-primary m-1" href="{% url 'users:signup' %}">회원가입</a>
        </div>
    </div>
</div>
{% endblock body %}