{% extends 'base.html' %}

{% load static %}


{% block title %}
글쓰기 
{% endblock title %}
  

{% block body %}
<div class="main">
    <!-- 글쓰기 페이지 -->
    <h2 class="main-title">글쓰기</h2>
    <p class="main-desc">내용을 입력 해주세요.</p>

    <form>
      <table class="table write">
        <colgroup>
          <col style="width: 120px">
          <col>
        </colgroup>
        <tbody>
          <tr>
            <th><label for="category">카테고리</label></th>
            <td>
              <select id="category">
                
                {% for key, value in form.fields.category.choices  %}
                <option value="{{ key }}">{{ value }}</option>
                {% endfor %}
                  
              </select>
            </td>
          </tr>
          <tr>
            <th><label for="board-title">제목</label></th>
            <td>{{ form.title }}</td>
          </tr>
          <tr>
            <th><label for="board-content">내용</label></th>
            <td>
              {{ form.content }}
            </td>
          </tr>
        </tbody>
      </table>
      <div class="btn-group">
        <a href="./index.html" class="btn">목록</a>
        <button type="reset" class="btn">초기화</button>
        <button type="submit" class="btn">작성</button>
      </div>
    </form>

    <!--  //글쓰기 페이지 -->
  </div>
{% endblock body %}
  
<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>글쓰기</title>
  <link rel="stylesheet" href="./css/common.css">
  <link rel="stylesheet" href="./css/table.css">
  <link rel="stylesheet" href="./css/write.css">

</head>